@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1728657127577') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e601";
}

.icon-a-mianxingshezhi:before {
  content: "\e609";
}

.icon-a-teshujian:before {
  content: "\e60a";
}

.icon-a-mianxingaixin:before {
  content: "\e60b";
}

.icon-a-xianxingaixin:before {
  content: "\e60c";
}

.icon-a-teshujia:before {
  content: "\e60d";
}

.icon-a-teshuguanbi:before {
  content: "\e60e";
}

.icon-a-teshushangjiantou:before {
  content: "\e60f";
}

.icon-a-teshuzuojiantou:before {
  content: "\e610";
}

.icon-a-teshuxiajiantou:before {
  content: "\e611";
}

.icon-a-teshuyoujiantou:before {
  content: "\e612";
}

.icon-a-mianxingdianzan:before {
  content: "\e613";
}

.icon-a-teshuduihao:before {
  content: "\e614";
}

.icon-a-mianxingfenxiang:before {
  content: "\e615";
}

.icon-a-teshushouqi:before {
  content: "\e616";
}

.icon-a-xianxingpinglun:before {
  content: "\e617";
}

.icon-a-teshugantanhao:before {
  content: "\e618";
}

.icon-a-xianxingshanchu:before {
  content: "\e619";
}

.icon-a-xianxingfenxiang:before {
  content: "\e61a";
}

.icon-a-xianxingshezhi:before {
  content: "\e61b";
}

.icon-a-xianxingshouye:before {
  content: "\e61c";
}

.icon-a-teshuxuanzhongkuang:before {
  content: "\e61d";
}

.icon-a-xianxingdianzan:before {
  content: "\e61e";
}

